@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap'); */

body {
  /* margin:50px; */
  /* margin: 3%; */
  margin: 0px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  letter-spacing: 0.7px;
  background-image: url("https://media.istockphoto.com/id/1360050574/vector/abstract-seamless-pattern-on-a-newspaper-theme.jpg?s=612x612&w=0&k=20&c=bVU5Z0HvV-dXuG89kC3Pjhmt_X7s0AxcShjGmahMODU=");
}

header,
footer {
  /* margin: 0px; */
  border-radius: 20px;
  margin-bottom: 20px;
  /* box-shadow: 10px 5px 5px rgb(34, 33, 33); */
  /* background-color: white; */
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

h1,
h2 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: fit-content;
  box-shadow: 10px 5px 5px rgb(34, 33, 33);
  padding: 10px 25px 5px 15px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

h1 {
  position: relative;
}

li {
  display: inline-block;
  padding-right: 15px;
  margin-top: 20px;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 40px;
}

.nav-links a {
  /* border:solid black; */
  border-radius: 50%;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  opacity: 1;
  box-shadow: 10px 5px 5px rgb(34, 33, 33);
  /* text-decoration: none; */
}

.nav-links a:hover {
  background-color: #f4fcff;
  color: black;
  transition: 0.3s ease;
  /* box-shadow: 0px 0px 0px; */
}

a {
  color: white;
}

figure {
  margin: 0;
  margin-top: -120px;
}

.pro-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: -350px;
  margin-left: 20px;
  display: block;
  box-shadow: 10px 5px 5px rgb(34, 33, 33);
}

#about-me {
  margin-top: 100px;
  margin-bottom: -15px;
}

.about {
  background-color: rgb(255, 255, 255);
  /* background-repeat: no-repeat; */
  background-position-x: right;
  background-size: cover;
  color: rgb(0, 0, 0);
  padding: 40px;
  border-radius: 15px;
  margin-top: 35px;
  /* margin-left: 10px;
  margin-right:10px; */
  /* box-shadow: 10px 5px 5px rgb(34, 33, 33); */
  opacity: 0.98;
}

.main-image {
  display: flex;
  width: 100%;
  height: 400px;
  margin: 0px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  /* box-shadow: 2px 2px 2px 10px rgb(8, 8, 8); */
}

.text-quote {
  display: flex;
  margin-top: -30px;
  margin-right: 30px;
  margin-left: 30px;
  justify-content: flex-end;
  color: white;
  font-size: 20px;
}

/* .main-work {
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
} */

.work {
  width: 266px;
  /* width:16vw; */
  height: 400px;
  border-radius: 20px;
  flex-wrap: wrap;
  filter: grayscale(2);
  border: solid black;
}

.work:hover {
  filter: brightness(1.2);
  box-shadow: 10px 5px 5px rgb(34, 33, 33);
  filter: grayscale(0.1);
  transition: 0.5s ease;
}

.works {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  margin-left: 20px;
  /* justify-content: center; */
  /* background-color: blue; */
}

.hidden {
  display: none;
  margin-top: 100px;
  margin-bottom: -50px;
  margin-left: 10%;
  background-color: white;
  padding: 50px;
  margin-right: 15%;
  box-shadow: 5px 3px 3px rgb(34, 33, 33);
}

pre {
  display: flex;
  /* background-color: black;
  color: white; */
  font-size: 19px;
}

footer {
  margin-top: 20px;
  /* box-shadow: 5px 3px 3px 5px rgb(10px, 20px, 10px);
  border-top: solid rgb(170, 170, 170); */
}

.overlay {
  /* display: none; */
  position: absolute;
  background-color: white;
  z-index: 1;
  padding: 5px;
  /* border-radius: 30px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; */
  transition: 0.5s ease;
  /* opacity: 0.9; */
  border: solid black;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  box-shadow: 10px 5px 5px rgb(34, 33, 33);
}

@media screen and (max-width: 1670px) {
  pre {
    font-size: 16px;
  }
}

@media screen and (max-width: 1401px) {
  pre {
    font-size: 15px;
  }
}

@media screen and (max-width: 1307px) {
  pre {
    font-size: 14px;
  }

  /* .works{
    justify-content: center;
  } */
}

@media screen and (max-width: 1226px) {
  pre {
    font-size: 13px;
  }
}

@media screen and (max-width: 1140px) {
  pre {
    font-size: 12px;
  }
}

@media screen and (max-width: 1050px) {
  pre {
    font-size: 11px;
  }
}

@media screen and (max-width: 970px) {
  pre {
    font-size: 11px;
    overflow: scroll;
  }
}

@media screen and (max-width: 505px) {
  header,
  footer {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  h1 {
    margin-bottom: -10px;
  }

  .pro-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: -350px;
    margin-left: 20px;
    display: block;
    box-shadow: 10px 5px 5px rgb(34, 33, 33);
  }

  #about-me {
    margin-top: 50px;
  }

  .about {
    padding: 20px;
  }

  #resume-div {
    margin-right: 0px;
    margin-left: 0px;
  }

  #about-me {
    margin-top: 90px;
  }
}

@media screen and (max-width: 400px) {
  .pro-pic {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    margin-top: -300px;
    margin-left: 20px;
    display: block;
    box-shadow: 10px 5px 5px rgb(34, 33, 33);
  }
}

.full-stack-body {
  background-image: url("/images/daniele-colucci-8MoRs-DVtas-unsplash.jpg");
  /* background-image: url("https://images.unsplash.com/photo-1597739239353-50270a473397?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80"); */

  background-size: cover;
  background-position: center;
}

#full-stack-header,
#full-stack-footer {
  margin-bottom: -75px;
}

.full-stack-li a {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);

}

.full-stack-li {
  margin-top: 30px;
}

.full-stack-li a:hover {
  background-color: white;
  color: black;

}

.full-stack-h2 {
  /* color:black;
 opacity: 0.55; */
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  border: solid 1px white;
  border-left: none;
}

#full-stack-about {
  /* background-color: black; */
  box-shadow: 5px 3px 3px rgb(146, 146, 146);
  /* padding:50px; */
  opacity: 0.9;
}

#full-stack-works {
  background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#full-stack-overlay {
  border-left: none;
}

#full-stack-work {
  filter: grayscale(0);
  opacity: 0.95;
  /* transition: 2s ease; */
  /* box-shadow: 1px 7px 7px 3px rgb(228, 228, 228); */
}

#full-stack-work:hover {
  opacity: 1;
  filter:brightness(1.14);
  box-shadow: 5px 8px 8px rgb(20, 20, 20);
}

/* art Webpage */

.art-body {
  background-image: url("https://images.unsplash.com/photo-1671200034899-0bd929c25855?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMwfGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}


#art-ul{
  
}


#art-header{

  /* background-image: url(''); */
  
}

.art-li{
  
}

.art-image1, .art-image2, .art-image3 {
  /* position: fixed; */
  width: 225px;
  height: 400px;
  opacity: 0.95;
  transition: 1s ease-in-out;
  border: solid black;
}

.art-image1, .art-image3{
  width: 200px;
  height: 300px;
}



.art-image1:hover,
.art-image2:hover,
.art-image3:hover {
  cursor: pointer;
  filter: brightness(1.2);
  opacity: 1;

  /* z-index: 2; */
  box-shadow: 5px 3px 3px rgb(0, 0, 0);
  
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  
}

aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 5px rgb(12, 12, 12);
  /* width: 50vw; */
  width: 800px;
  height: 800px;;
  border-radius: 50%;
  padding: 20px;
  /* margin-left: 20px; */
  background-color: white;
  padding-left: 50px;
  align-items: center;
  gap: 20px;
  background-image: url('https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGFydHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
  box-shadow: 5px 5px 2px rgb(65, 65, 65);
  
}

.art-section {
 
  width: 30vw;
  padding: 50px;
  
  background-image: url('https://images.unsplash.com/photo-1516146544193-b54a65682f16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzd8fGFydHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
}

.art-p {
  max-width: 500px;
  max-height: 800px;
  background-color: rgba(255, 255, 255, 0.93);
  color: black;
  padding: 15px;
  border-radius: 20px;
}

#art-overlay{
  position: relative;
  width: 150px;
  text-align: center;
}



@media screen and (max-width: 797px) {
  aside {
   
    width: max-content;
    height: max-content;
        
  } 

  .art-section{
    height:100vh;
    width: 100vw;
  }
  
  .art-p{
    display: flex;
    height: max-content;
    width: 100vw;
    
  }
}